:root {
  --base-color: #a665e2;
  --complete-color: rgb(from var(--base-color) calc(r - 52) calc(g + 93) calc(b - 113)); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: inherit;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  color: var(--base-color);
}

h2 {
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--base-color);
}

h3 {
  text-align: center;
  color: rgb(155, 155, 155);
  padding: 12px;
  font-weight: 100;
  font-size: medium;
}

p {
  font-weight: 100;
}
input,
button[type='submit'] {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 30px;
  border: 2px solid var(--base-color);
  outline: none;
  color: var(--base-color);
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

button[type='submit']:hover {
  scale: 104%;
}

input::placeholder {
  font-weight: 100;
  opacity: 0.5;
  color: var(--base-color);
}

input {
  flex-grow: 1;
}

input:focus {
  background-color: color-mix(in srgb, var(--complete-color) 35%, transparent);
  border: 2px solid var(--base-color);
}

form {
  display: flex;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.container {
  width: min(100% - 40px, 768px);
  margin-inline: auto;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks__empty {
  text-align: center;
  font-size: 2em;
  color: rgb(155, 155, 155);
}

.task {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: color-mix(in srgb, var(--base-color) 15%, transparent);
  padding: 20px;
  border-radius: 44px;
  border: 2px solid var(--base-color);
  box-shadow: 3px 6px color-mix(in srgb, var(--base-color) 30%, transparent);
}

.task--completed {
  background-color: #f1f1f1;
  border-color: var(--complete-color);
  color: rgb(202, 202, 202);
  box-shadow: 3px 6px color-mix(in srgb, var(--complete-color) 30%, transparent);
}

.task__id {
  position: absolute;
  margin: -20px 0 0 -15px;
  font-size: 0.85em;
}

.task__title {
  flex-grow: 1;
  flex-basis: 0;
  color: var(--base-color);
  font-size: 1rem;
  padding-top: 12px;
}

.task__icon {
  font-size: 1.5rem;
  color: var(--base-color);
  top: 5px;
}

.task__check-btn {
  width: 32px;
  height: 32px;
  color: var(--base-color);
  background-color: white;
  cursor: pointer;
  transition: scale 0.3s, color 0.3s;
  border: 2px solid var(--base-color);
  margin-right: 20px;
}

.task__check-checkmark {
  font-size: 2rem;
  position: relative;
  top: -10px;
  right: 4px;
}

.task__delete-btn {
  font-size: 1.5rem;
  top: 5px;
  cursor: pointer;
  transition: scale 0.3s, color 0.3s;
  position: relative;
  top: -30px;
  left: 100px;
  background-color: white;
  padding: 6px;
  border-radius: 16px;
  border: 2px solid rgb(202, 202, 202);
  color: rgb(155, 155, 155);
}

.task__delete-btn:hover {
  color: rgb(209, 49, 97);
}

.task__check-btn:hover {
  color: var(--complete-color);
}

.task__delete-btn:hover,
.task__check-btn:hover {
  scale: 1.2;
}

.task__check {
  border: 2px solid var(--base-color);
}
.task--completed .task__icon,
.task--completed .task__title {
  color: rgb(202, 202, 202);
}

.task--completed .task__check-btn {
  border: 2px solid var(--complete-color);
}

.delete-all-btn,
.reset-all-btn,
.colorpick-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 12px;
  background-color: color-mix(in srgb, var(--base-color) 50%, transparent);
  border: none;
  transition: ease-in-out 0.2s;
}

.delete-all-btn:hover,
.reset-all-btn:hover,
.colorpick-btn:hover {
  scale: 105%;
  background-color: color-mix(in srgb, var(--base-color) 75%, transparent);
}

.tasks__actions {
  display: flex;
  gap: 12px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.tasks__message {
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--complete-color);
  align-items: end;
  justify-content: flex-end;
}

.overlay {
  position: fixed; /* Sit on top of the page content */ /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color-mix(in srgb, var(--base-color) 25%, transparent); /* Black background with opacity */
  backdrop-filter: blur(5px);
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */ /* Add a pointer on hover */
}
.overlay-info {
  position: fixed; /* Sit on top of the page content */ /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.overlay-img {
  width: 300px;
  border-radius: 24px;
  border: 2px solid var(--base-color);
}

.hidden {
  display: none;
}

.overlay-text {
  font-size: medium;
  color: white;
  display: block;
  border-radius: 20px;
  margin: 12px;
  padding: 6px 12px;
  font-weight: 400;
  background-color: var(--base-color);
}
